- share = nil unless defined? share

- if inode.directory?
  %table.table.inode-table
    - if parent = inode.parent
      = render 'inodes/inode', inode: parent, title: '..', share: share
    - inode.children.each do |inode|
      = render 'inodes/inode', inode: inode, title: inode.name, share: share

- if inode.file?
  - if inode.image?
    %p
      - if share
        = image_tag "#{inode.content_url.to_s}?share_id=#{share.id}"
      - else
        = image_tag inode.content_url.to_s
  - else
    %pre.CodeRay= code_ray(inode)
