-# よりシンプルに書けます(さらに言うと、実は何も書かなくてもエラーにならないっぽい)
- share ||= nil

%tr
  %td
    - if inode.image?
      - if share
        = image_tag "#{inode.content_url(:thumb).to_s}?share_id=#{share.id}"
      - else
        = image_tag inode.content_url(:thumb).to_s
    - elsif inode.directory?
      %i.fa.fa-3x.fa-folder-o
    - else
      %i.fa.fa-3x.fa-file-o
  - if share
    %td.vcenter= link_to title, share_inode_path(share, inode)
  - else
    %td.vcenter= link_to title, inode
  %td.vcenter
    = number_to_human_size(inode.file_size)
  %td.vcenter
    = inode.created_at
