.col-md-2
  %ul.list-group.inode-list
    %li.list-group-item= link_to 'home', current_user.inode

.col-md-10
  %ol.breadcrumb
    - @inode.path.each do |inode|
      - if inode != @inode
        %li= link_to inode.name, inode
      - else
        %li= inode.name

  %table.table
    - @inode.inode_activities.each do |activity|
      %tr
        %td= activity.comment
        %td= activity.created_at
