.col-md-2
  %ul.list-group.inode-list
    %li.list-group-item= link_to 'home', current_user.inode

.col-md-10
  .inode-search-box
    = form_tag inode_search_path(@inode), method: :get do
      = text_field_tag :key, @key, class: 'form-control', placeholder: 'Search for...'

  - if @inodes.present?
    %table.table.inode-table
      - @inodes.each do |inode|
        %tr
          %td
            - if inode.image?
              = image_tag inode.content_url(:thumb).to_s
            - elsif inode.directory?
              %i.fa.fa-3x.fa-folder-o
            - else
              %i.fa.fa-3x.fa-file-o
          %td.vcenter= link_to inode.path.pluck(:name).join('/'), inode
          %td.vcenter
            = number_to_human_size(inode.file_size)
          %td.vcenter
            = inode.created_at
