.col-md-2
  %ul.list-group.inode-list
    %li.list-group-item= link_to 'home', current_user.inode

  %ul.list-group.inode-list
    %li.list-group-item= link_to 'search', inode_search_path(current_user.inode)

  %ul.list-group.inode-list
    - if @inode.directory?
      %li.list-group-item= link_to 'new folder', inode_new_directory_path(@inode)
      %li.list-group-item= link_to 'upload file', inode_new_file_path(@inode)
    %li.list-group-item= link_to 'delete', @inode, method: :delete
    %li.list-group-item= link_to 'rename', edit_inode_path(@inode)
    - if @inode.directory?
      %li.list-group-item activity
    - if @inode.file?
      %li.list-group-item= link_to 'download', inode_download_path(@inode)

.col-md-10
  %ol.breadcrumb
    - @inode.path.each do |inode|
      - if inode != @inode
        %li= link_to inode.name, inode
      - else
        %li= inode.name

  - if @inode.directory?
    %table.table.inode-table
      - if parent = @inode.parent
        %tr
          %td
            %i.fa.fa-3x.fa-folder-o
          %td.vcenter= link_to '..', parent
      - @inode.children.each do |inode|
        %tr
          %td
            - if inode.image?
              = image_tag inode.content_url(:thumb).to_s
            - elsif inode.directory?
              %i.fa.fa-3x.fa-folder-o
            - else
              %i.fa.fa-3x.fa-file-o
          %td.vcenter= link_to inode.name, inode
          %td.vcenter
            = number_to_human_size(inode.file_size)
          %td.vcenter
            = inode.created_at

  - if @inode.file?
    - if @inode.image?
      %p
        = image_tag @inode.content_url.to_s
    - else
      -#%pre.CodeRay= CodeRay.scan_file(@inode.content.path).html.html_safe
      %pre.CodeRay= code_ray(@inode)

